.loginForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm h1 {
    display: block;
    width: 80%;
    text-align: left;
    margin-bottom: .2rem;
    color: #fff;
    margin-top: 2rem;
}

.loginForm p {
    width: 80%;
    margin-bottom: .5rem;
    color: #fff;
}

.loginForm form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: flex-start;
}

.loginForm form a {
    color: #fff;
    text-decoration: none;
    float: right;
}

.loginForm form label {
    margin-bottom: 1rem;
    color: #fff;

}

div.pwdtxt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pwdtxt a {
    color: #fff;
    text-decoration: none;
}

.loginForm form input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .5rem;
    box-shadow: 0 0 5px #fff;
    margin-bottom: 1rem;
}

.loginForm form button {
    width: 100%;
    border: none;
    outline: none;
    background-color: #fbbf24;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .8rem;
    box-sizing: border-box;
    border-radius: .5rem;
    box-shadow: 0 0 5px #fff;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.rememberContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.rememberContainer input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.inputContainer {
    display: flex;
    width: 100%;
}

div.inputContainer input {
    width: 100%;
    border: 1px solid #fff;
    border-radius: .5rem 0 0 .5rem;
    padding: .5rem;
    box-sizing: border-box;
}

div.inputContainer i {
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem;
    border-radius: 0 .5rem .5rem 0;
    height: 100%;
    box-shadow: 0 0 5px #fff;
}