.home {
    background-color: #35191d;
    height: 100vh;
}

.heroBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 2rem;
    border-radius: 5px;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.05) 0%, transparent 70%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 60px 40px;
}

.heroBannerLittleTitle {
    font-size: 1rem;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: .1rem .5rem;
    border-radius: 2rem;
    opacity: .7;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heroBannerTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.heroBannerContent {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
    opacity: .7;
    letter-spacing: 0.05rem;
}