/* 自定義轉場：旋轉淡入 */
::view-transition-old(root) {
    animation: 0.4s ease-in both fade-out;
}

::view-transition-new(root) {
    animation: 0.4s ease-out both fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}